body { 
    background-image: url(/images/apocalipse.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.img { 
    margin-top: 50px;
    margin-left: 450px;
    display: inline-flex;
    
}

.mage { 
    padding: 50px;
}

.atributos { 
    margin-top: 100px;


}